<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Forgot Password Email</title>
  </head>
  <body>
    <h2>Hello {{name}}! </h2>
    <p> {{name}},forgot password! </p>
  </body>
</html>